extends ../shared/template
block content
  .wrapper
    .forms
     h1 Add Item
     form(method='post', action='/items')
        label Name
        input(name='name', type='text', placeholder='iphone', autofocus=true)
        label Length (ft)
        input(name='dimensions[l]', type='number', placeholder='5')
        label Width (ft)
        input(name='dimensions[w]', type='number', placeholder='10')
        label Height (ft)
        input(name='dimensions[h]', type='number', placeholder='7')
        label Weight (lbs)
        input(name='weight', type='number', placeholder='100')
        label Color
        input(name='color', type='color')
        label Quantity
        input(name='quantity', type='number', placeholder='2')
        label MSRP
        input(name='msrp', type='number', placeholder='499.99')
        label Percent Off
        input(name='percentOff', type='number', placeholder='20')
        button Add


